@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <img src="/img/CoffeeCageLogo2.PNG " />
    <p></p>
    <h1 class="display-4"><b>Coffee Cafe</b></h1>
    <h3>50% OFF All New <a asp-controller="Customer" asp-action="CreateOrEdit" style="color:blue">BrewCrew</a> Memberships</h3>
</div>
